.page-text {
    background-color: lightgrey;
    padding: 1em;
}

body {
    margin: 0;
}

.background-image {
    background-image: url("record.png");
    background-repeat: repeat;
}

.header {
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
}